html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

/**
* Text Styles
**/
.text_wide{
    letter-spacing: 4px;
}

/**
* CARDS
**/
.card {
    border: 1px solid #ccc
}

.card_2 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
}

.card_4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.card_8 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.card_12 {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important
}

.card_16 {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important
}

.card_24 {
    box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important
}


/**
* GRID
**/
.container {
    display: flex;
    justify-content: flex-start;
}

.right{
    justify-content: flex-end;
}

.left{
    justify-content: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

.colleft{
    order: 0;
}

.colcenter{
    order: 1;
}

.colright{
    order: 2;
}

.alignright{
    text-align: right;
}

.aligncenter{
    text-align: center;
}

.alignleft{
    text-align: left;
}

/** ======================================
*           Column sizes
**  ====================================== */
.col10{
    width: 10vw;
}

.col12{
    width: 12vw;
}

.col20{
    width: 20%;
}

.col30{
    width: 30%;
}

.col40{
    width: 40%;
}

.col50{
    width: 50%;
}

.col60{
    width: 60%;
}

.col70{
    width: 70%;
}

.col80{
    width: 80%;
}

.col88{
    width: 88vw;
}

.col90{
    width: 90%;
}

.col100{
    width: 100%;
}

/**===========================================
    Show or hide depends on device width
===========================================**/
.hide{
    display: none;
}

.hideXSscreen{
    display: block;
}
.hideSscreen{
    display: block;
}
.hideMscreen{
    display: block;
}
.hideLscreen{
    display: block;
}
.hideXLscreen{
    display: block;
}

@media screen and (min-width: 0px) and (max-width: 350px){
    .hideXSscreen{
        display: none;
    }
}

@media screen and (min-width: 350px) and (max-width: 600px){
    .hideSscreen{
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 960px){
    .hideMscreen{
        display: none;
    }
}

@media screen and (min-width: 960px) and (max-width: 1250px){
    .hideLscreen{
        display: none;
    }
}

@media screen and (min-width: 1250px){
    .hideXLscreen{
        display: none;
    }
}