/**
* Special Margins
**/
.auto_margin{
    margin: 2vw 0 2vw 0;
}

@media screen and (min-width: 960px) {
    .auto_margin {
        margin: auto 0 auto 0;
    }
}

hr {
    border: solid 1px;
    margin:0;
}